* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.logo {
    margin-left: 20px;
}
.create-new-entry-btn {
    font-weight: bold; 
    margin-top: 50px;
    border:none; 
}

.header-bar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: white;
    border: none; 
}

.nav-links  {
    cursor: pointer;
    text-decoration: none;
    color: black;

}

.nav-links:visited  {
    color: black;
}

.nav-links:hover  {
    color: rgb(73, 73, 73);
}

.main-container {
    color: black;
    display: flex;
    justify-content: center;
    background: #5b739e;
    color: white; 
    flex-direction: column;
    padding-bottom: 70px;
    min-height: 500px;
}

.hero {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    color: white; 
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.hero:after {
    content: "";
    position: absolute;
    background-image: url("./images/heroimage.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8; 
}

.hero-content{
    width: 90%;
    font-weight: bold;
}

.hero-signup-button {
    width: 150px;
    margin-left: auto;
    margin-right: auto; 
    background-color:white;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: black;
}

.hero-signup-button:hover {
    background-color: lightgray;
    transition: 0.3s
}

.hero-login-link {
    font-size: 14px;
}

.login-link {
    cursor: pointer;
}

.login-error {
    color: red; 
}

.signup-error {
    color: red; 
}

.signup-successful {
    color: green; 
}

.navigation-links {
   list-style: none; 
   display: flex; 
   margin-right: 20px;
}

.navigation-links li {
   padding: 10px;
}

label, input {
    display: block;
    width: 100%;
    height: 30px;
}

input {
    box-shadow:none;
    border: 1px solid #aaa;
}


label {
    margin-bottom: 30px;
}

fieldset {
    border: none; 
}

input:required {
    box-shadow: none;
}

textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #aaa;
    resize: none
}

.demo-account-text {
    font-size: 14px;
    line-height: 20px
}

.signup-help-text {
    font-size: 14px;
    line-height: 20px
}

.image-url-label {
    margin-bottom: 40px;
}


.alert-box {
    padding: 20px;
    color: white;
    margin-bottom: 25px;
    position: absolute;
    top: 79px;
    width: 100%;
}

.error-alert-box {
    background-color: #f44336; 
}

.success-alert-box {
    background-color: green; 
}

.alert-close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-close-btn:hover {
    color: black;
}


.create-new-entry {
    margin: 10px auto;
}

.create-new-entry-btn {
    color: rgb(31, 58, 104);
    background-color: white;
    border-radius: 3px;
    font-weight: bold;
    height: 35px;
    width: 200px;
    margin-top: 80px;
    cursor: pointer;
}

.login-form-btn, .signup-form-btn, .create-entry-submit-btn,
.edit-entry-submit-btn{
    color: white;
    background-color: rgb(31, 58, 104);
    border-radius: 3px;
    font-weight: bold;
    height: 35px;
    width: 100%;
    border: none; 
    cursor: pointer;
}

.edit-entry-btn, .delete-entry-btn, .back-entry-btn {
    color:rgb(31, 58, 104);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: bold;
    height: 35px;
    border: none;
    width: 30%;
    cursor: pointer;
}

.login-form-btn:hover,.signup-form-btn:hover, .create-entry-submit-btn:hover,.edit-entry-submit-btn:hover  {
     background-color: rgba(28, 74, 133, 0.966)
}

 
.create-new-entry-btn:hover,.edit-entry-btn:hover, 
.delete-entry-btn:hover, .back-entry-btn:hover {
    background-color: rgb(236, 236, 236)
}

.create-entry-form-label, .edit-entry-form-label {
    padding-bottom: 100px;
}

footer {
    width: 100%;
    padding: .5rem .5rem;
    padding-bottom: 15px;
}

.footer-info {
   text-align: center;
}

a {
    color: black;
}

.git-hub-link:hover {
    color: rgb(78, 78, 78);
}

.footer-info {
    font-size: 14px;
}

i {
    font-size: 30px;
}

.journal-entries-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.journal-entry-card {
    height: 200px;
    width: 200px;
    margin: 50px 30px;
    position: relative;
}

.journal-entry-card img {
    object-fit: cover;
    height: 200px; 
    width: 100%;
}

.journal-entry-date {
    text-align: center; 
    background: white;
    font-weight: bold;
    padding: 5px; 
    margin: 0; 
    color: rgb(31, 58, 104);
}

.journal-entry-img {
    height: 100px;
    width: 100%;
}

.entry-view-btn {
    position: absolute;
    left: 65px;
    top: 85px;
    color: black;
    font-weight: bold; 
    bottom: 50px;
    height: 30px;
    width: 80px;
    background: white;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.journal-entry-card:hover .overlay {
  opacity: 1;
}

.entry-view-btn:hover {
  transform: scale(1.5,1.5);
}

.journal-dashboard-container {
   text-align: center; 
}

.create-entry-form-label {
    margin-bottom: 20ox;
}
.entry-form-container {
    display: flex; 
    flex-direction: column;
    text-align: center; 
}

.view-entry-btns {
    display: flex; 
    justify-content: space-around
}

.meaningful-image-img {
    max-width: 100%;
    height: auto;
}

.journal-entry-card-img {
    max-width: 100%;
    height: auto;
}

.view-entry {
    display: flex; 
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.view-entry-container img {
    width: 100%;
    height: auto;
}

.signup-modal, .login-modal, .create-entry-modal, .edit-entry-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: .7rem .7rem;
    width: 30rem;
    border-radius: 0.5rem;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}
 
h2 {
    text-align: center;
}

.login-close-button, .signup-close-button, .create-entry-close-button, .edit-entry-close-button, .view-entry-close-button{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


@media only screen and (min-width:300px) and (max-width:400px){
   .modal-content{
        width: 18rem;
   }
}

@media only screen and (min-width:401px) and (max-width:500px){
   .modal-content{
        width: 24rem;
   }
}

@media only screen and (max-width:320px){
   .header-bar {
       font-size: 14px;
   }
}






